Repository py-libhdate/py-libhdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pylint, isort, black, mypy, translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    - id : flake8
      name: flake8
      entry: pdm run flake8
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pdm run pylint
      language: system
      types: [python]
    - id: isort
      name: isort
      entry: pdm run isort
      language: system
      types: [python]
    - id: black
      name: black
      entry: pdm run black
      language: system
      types: [python]
    - id: mypy
      name: mypy
      entry: pdm run mypy --ignore-missing-imports --strict
      language: system
      types: [python]
    - id: translations
      name: Generate translations
      entry: pdm run python utils/translations.py generate
      language: system
      types: [json]
      pass_filenames: false

Add prayer and tekufot (#162)
  hdate/tekufot.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  tests/test_tekufot.py
Due: flake8, pylint, isort, black, mypy, translations

Use month name for test
  tests/test_hdate.py
Due: flake8, pylint, isort, black, mypy

Get initial string to work in Hebrew
  hdate/omer.py
  hdate/translations.py
  hdate/translations/he.json
Due: flake8, pylint, isort, black, mypy, translations

Initial commit for rework of Omer
  README.rst
  hdate/date.py
  hdate/omer.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/translator.py
  hdate/zmanim.py
  tests/test_hdate.py
  tests/test_hdate_api.py
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy, translations

Fix addition of timedelta without gdate
  hdate/hebrew_date.py
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy

Add initial translations in English and in French
  hdate/omer.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
Due: flake8, pylint, isort, black, mypy, translations

Get omer count to work properly
  hdate/omer.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  pdm.lock
  pyproject.toml
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy, translations

Fix tests
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy

Add snapshot testing for omer strings
  pdm.lock
  pyproject.toml
  tests/__snapshots__/test_omer.ambr
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy

Simplify omer tests
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy

Unrelated to this PR. But we're missing the py.typed file
  hdate/py.typed
Due: none

Add other nusachim
  hdate/omer.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  tests/__snapshots__/test_omer.ambr
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy, translations

Create Omer API (#165)
  README.rst
  hdate/date.py
  hdate/hebrew_date.py
  hdate/omer.py
  hdate/py.typed
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/translator.py
  hdate/zmanim.py
  pdm.lock
  pyproject.toml
  tests/__snapshots__/test_omer.ambr
  tests/test_hdate.py
  tests/test_hdate_api.py
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy, translations

Fix italian omer Nusach
  hdate/omer.py
Due: flake8, pylint, isort, black, mypy

is should be added but at the end of the prefix
  hdate/omer.py
Due: flake8, pylint, isort, black, mypy

Update test snapshot
  tests/__snapshots__/test_omer.ambr
Due: none

Fix Italian Omer Nusach (#168)
  hdate/omer.py
  tests/__snapshots__/test_omer.ambr
Due: flake8, pylint, isort, black, mypy

Add snapshots
  tests/__snapshots__/test_hebrew_date.ambr
  tests/test_hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Move Days and Months classes to hebrew_date module
  hdate/date.py
  hdate/hebrew_date.py
  hdate/htables.py
  hdate/omer.py
  hdate/tekufot.py
  tests/test_converters.py
  tests/test_hdate.py
  tests/test_hebrew_date.py
  tests/test_translator.py
Due: flake8, pylint, isort, black, mypy

Add days information to Months enum
  hdate/hebrew_date.py
  tests/test_hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Simplify and generalize from_jdn method
  hdate/hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Get length of month directly from month attribute
  hdate/hebrew_date.py
Due: flake8, pylint, isort, black, mypy

General cleanup
  hdate/date.py
  hdate/hebrew_date.py
  hdate/htables.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
Due: flake8, pylint, isort, black, mypy, translations

Bring back yom hazikaron
  hdate/htables.py
Due: flake8, pylint, isort, black, mypy

Move next_month logic to Months
  hdate/hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Simplify to_jdn() logic
  hdate/hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Minor fixes
  hdate/hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Fix black errors
  hdate/hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Change order of Months
  hdate/hebrew_date.py
  tests/test_hdate.py
Due: flake8, pylint, isort, black, mypy

Fix back yom hashoah definition
  hdate/htables.py
Due: flake8, pylint, isort, black, mypy

Add support for month comparison mode
  hdate/hebrew_date.py
  tests/test_hdate.py
  tests/test_hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Simplify generating valid hebrew date
  tests/test_hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Add support for negative timedelta
  hdate/hebrew_date.py
  tests/test_hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Use Months API when validating HebrewDate
  hdate/hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Add xdist for parallel testing
  pdm.lock
  pyproject.toml
Due: none

Also install tests group during lint
  tox.ini
Due: none

Make tox pytest run less verbose
  tox.ini
Due: none

Add random test order
  pdm.lock
  pyproject.toml
  tox.ini
Due: none

Update test_hdate.py
  tests/test_hdate.py
Due: flake8, pylint, isort, black, mypy

Simplify tests
  pdm.lock
  pyproject.toml
  tests/test_hdate.py
Due: flake8, pylint, isort, black, mypy
