Repository py-libhdate/py-libhdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pylint, isort, black, mypy, translations

flake8:
  name: flake8
  entry: pdm run flake8
  language: system

pylint:
  name: pylint
  entry: pdm run pylint
  language: system

isort:
  name: isort
  entry: pdm run isort
  language: system

black:
  name: black
  entry: pdm run black
  language: system

mypy:
  name: mypy
  entry: pdm run mypy --ignore-missing-imports --strict
  language: system

translations:
  name: Generate translations
  entry: pdm run python utils/translations.py generate
  language: system
  pass_filenames: false

Hoist label and description onto TranslatorMixin
  hdate/daf_yomi.py
  hdate/hebrew_date.py
  hdate/holidays.py
  hdate/omer.py
  hdate/parasha.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/translator.py
  tests/test_descriptions.py
Due: flake8, pylint, isort, black, mypy, translations

Apply Hebrew translation review corrections
  hdate/translations.py
  hdate/translations/he.json
Due: flake8, pylint, isort, black, mypy, translations

Drop label in favour of str(zman)
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/translator.py
  hdate/zmanim.py
  tests/test_descriptions.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy, translations

Fix French zmanim translation defects
  hdate/translations.py
  hdate/translations/fr.json
Due: flake8, pylint, isort, black, mypy, translations

Keep the Zman translation key order from main
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
Due: flake8, pylint, isort, black, mypy, translations

Fix incorrect French zmanim translations (#230)
  hdate/translations.py
  hdate/translations/fr.json
Due: flake8, pylint, isort, black, mypy, translations

Add a translated description property to date and zmanim objects (#228)
  hdate/daf_yomi.py
  hdate/date_info.py
  hdate/hebrew_date.py
  hdate/holidays.py
  hdate/omer.py
  hdate/parasha.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/translator.py
  hdate/zmanim.py
  tests/test_descriptions.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy, translations

Update en.json
  hdate/translations/en.json
Due: translations

Update translations.py
  hdate/translations.py
Due: flake8, pylint, isort, black, mypy

Fix test_zmanim
  hdate/translations.py
  hdate/translations/en.json
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy, translations

Fix README test
  README.rst
  tests/__snapshots__/test_hdate_api.ambr
Due: none

Cleanup English labels for Zmanim (#232)
  README.rst
  hdate/translations.py
  hdate/translations/en.json
  tests/__snapshots__/test_hdate_api.ambr
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy, translations

Release version: 1.2.1 → 1.2.2
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: flake8, pylint, isort, black, mypy

Path conditions:
  flake8: any of: \.py$
  pylint: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  mypy: any of: \.py$
  translations: any of: \.json$
