Repository py-libhdate/py-libhdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pylint, isort, black, mypy, translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    - id : flake8
      name: flake8
      entry: pdm run flake8
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pdm run pylint
      language: system
      types: [python]
    - id: isort
      name: isort
      entry: pdm run isort
      language: system
      types: [python]
    - id: black
      name: black
      entry: pdm run black
      language: system
      types: [python]
    - id: mypy
      name: mypy
      entry: pdm run mypy --ignore-missing-imports --strict
      language: system
      types: [python]
    - id: translations
      name: Generate translations
      entry: pdm run python utils/translations.py generate
      language: system
      types: [json]
      pass_filenames: false

Release version: 1.1.0 → 1.1.1
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: flake8, pylint, isort, black, mypy

Improve performance of Holiday database creation
  hdate/holidays.py
Due: flake8, pylint, isort, black, mypy

Only sort filtered holidays
  hdate/holidays.py
Due: flake8, pylint, isort, black, mypy

Improve lookup of holidays
  hdate/holidays.py
Due: flake8, pylint, isort, black, mypy

Improve performance of HolidayDatabase creation and lookup (#216)
  hdate/holidays.py
Due: flake8, pylint, isort, black, mypy

Improve HebrewDate comparison performance
  hdate/hebrew_date.py
Due: flake8, pylint, isort, black, mypy

Return the correct daf
  hdate/daf_yomi.py
Due: flake8, pylint, isort, black, mypy

Use parametrized test and have daf_yomi return str
  hdate/date_info.py
  tests/test_daf_yomi.py
Due: flake8, pylint, isort, black, mypy

Have Omer return a str
  hdate/date_info.py
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy

Use Parasha enum when in test
  tests/test_parasha.py
Due: flake8, pylint, isort, black, mypy

Have Parasha return a string
  hdate/date_info.py
  tests/__snapshots__/test_parasha.ambr
  tests/test_parasha.py
Due: flake8, pylint, isort, black, mypy

Have HDateInfo API return builtins (str/int) for easier use (#211)
  hdate/daf_yomi.py
  hdate/date_info.py
  tests/__snapshots__/test_parasha.ambr
  tests/test_daf_yomi.py
  tests/test_omer.py
  tests/test_parasha.py
Due: flake8, pylint, isort, black, mypy

Release version: 1.1.1 → 1.1.2
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: flake8, pylint, isort, black, mypy

use constant offset
  hdate/converters.py
Due: flake8, pylint, isort, black, mypy

fix elevation default
  hdate/location.py
Due: flake8, pylint, isort, black, mypy

Replace manual JDN math with stdlib (#221)
  hdate/converters.py
Due: flake8, pylint, isort, black, mypy

use stdlib for offset calculations
  hdate/zmanim.py
Due: flake8, pylint, isort, black, mypy

Fix typo & refactor _datetime_to_minutes_offset (#223)
  hdate/zmanim.py
Due: flake8, pylint, isort, black, mypy

Use Meeus astronomical algorithms
  hdate/zmanim.py
  tests/conftest.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

time formatting
  hdate/zmanim.py
Due: flake8, pylint, isort, black, mypy

--snapshot-update
  tests/__snapshots__/test_hdate_api.ambr
Due: none

apply suggestion
  hdate/zmanim.py
Due: flake8, pylint, isort, black, mypy

Update to Python 3.10
  pdm.lock
  pyproject.toml
  tests/test_hebrew_date.py
  tests/test_tekufot.py
Due: flake8, pylint, isort, black, mypy

Use |
  hdate/converters.py
  hdate/date_info.py
  hdate/hebrew_date.py
  hdate/holidays.py
  hdate/location.py
  hdate/omer.py
  hdate/zmanim.py
  tests/test_hebrew_date.py
  tests/test_parasha.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Tox drop 3.9, add 3.14
  tox.ini
Due: none

CI drop 3.9, add 3.14
  .github/workflows/run-tests.yaml
Due: none

Use location altitude in Astral zmanim calculations
  README.rst
  docs/source/quickstart.rst
  docs/source/user_guide.rst
  hdate/zmanim.py
  tests/__snapshots__/test_hdate_api.ambr
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Use location altitude in Astral zmanim calculations (#226)
  README.rst
  docs/source/quickstart.rst
  docs/source/user_guide.rst
  hdate/zmanim.py
  tests/__snapshots__/test_hdate_api.ambr
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Release version: 1.1.2 → 1.2.0
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: flake8, pylint, isort, black, mypy

Lower Astral minimum version to 2.2
  pdm.lock
  pyproject.toml
Due: none

Lower Astral minimum version to 2.2 (#227)
  pdm.lock
  pyproject.toml
Due: none

Release version: 1.2.0 → 1.2.1
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: flake8, pylint, isort, black, mypy

Add translated labels and descriptions for calendar entities
  hdate/daf_yomi.py
  hdate/date_info.py
  hdate/hebrew_date.py
  hdate/holidays.py
  hdate/omer.py
  hdate/parasha.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/zmanim.py
  tests/test_descriptions.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy, translations

Apply black formatting to test_descriptions.py
  tests/test_descriptions.py
Due: flake8, pylint, isort, black, mypy

Disable pylint too-many-public-methods on HDateInfo
  hdate/date_info.py
Due: flake8, pylint, isort, black, mypy

Translate all zmanim options and remove label/description fallbacks
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/zmanim.py
  tests/test_descriptions.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy, translations

Added Haftara
  hdate/__init__.py
  hdate/date_info.py
  hdate/haftara.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  tests/test_date_info.py
  tests/test_haftara.py
Due: flake8, pylint, isort, black, mypy, translations

Refactor _lookup_holiday_haftara to use match/case pattern matching
  hdate/haftara.py
Due: flake8, pylint, isort, black, mypy

use cases instead of if-else in lookup
  hdate/haftara.py
Due: flake8, pylint, isort, black, mypy
