Repository py-libhdate/py-libhdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pylint, isort, black, mypy, translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    - id : flake8
      name: flake8
      entry: pdm run flake8
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pdm run pylint
      language: system
      types: [python]
    - id: isort
      name: isort
      entry: pdm run isort
      language: system
      types: [python]
    - id: black
      name: black
      entry: pdm run black
      language: system
      types: [python]
    - id: mypy
      name: mypy
      entry: pdm run mypy --ignore-missing-imports --strict
      language: system
      types: [python]
    - id: translations
      name: Generate translations
      entry: pdm run python utils/translations.py generate
      language: system
      types: [json]
      pass_filenames: false

Update gitignore
  .gitignore
Due: none

Add pytest profiling
  pdm.lock
  pyproject.toml
Due: none

Only run pre-commit on the commits that are part of the PR
  tox.ini
Due: none

Change github action to directly use pre-commit
  .github/workflows/run-tests.yaml
Due: none

revert tox.ini
  tox.ini
Due: none

Update run-tests.yaml
  .github/workflows/run-tests.yaml
Due: none

make translations sorted
  utils/translations.py
Due: flake8, pylint, isort, black, mypy

Update translations.py
  utils/translations.py
Due: flake8, pylint, isort, black, mypy

Run git diff only on failure
  .github/workflows/run-tests.yaml
Due: none

Generate translations correctly
  hdate/translations.py
Due: flake8, pylint, isort, black, mypy

Use translations.py instead of JSON files for performance (#152)
  .github/workflows/run-tests.yaml
  .gitignore
  .pre-commit-config.yaml
  hdate/translations.py
  hdate/translator.py
  pdm.lock
  pyproject.toml
  tox.ini
  utils/translations.py
Due: flake8, pylint, isort, black, mypy

Generate zmanim translations
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/translator.py
  utils/translations.py
Due: flake8, pylint, isort, black, mypy, translations

Prepare zmanim.py for TranslatorMixin
  hdate/zmanim.py
Due: flake8, pylint, isort, black, mypy

modified: hdate/__init__.py new file: hdate/tekufot.py new file: tests/test_tekufot.py
  hdate/__init__.py
  hdate/tekufot.py
  tests/test_tekufot.py
Due: flake8, pylint, isort, black, mypy

modified: hdate/tekufot.py
  hdate/tekufot.py
Due: flake8, pylint, isort, black, mypy

Fix zmanim implementation
  hdate/htables.py
  hdate/translations.py
  hdate/zmanim.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Sync zmanim to htables
  hdate/zmanim.py
Due: flake8, pylint, isort, black, mypy

Fix JSON files
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
Due: translations

Fix zmanim tests based on Chazon Hashamayim
  README.rst
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/zmanim.py
  tests/test_hdate_api.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy, translations

Change Zmanim to use TranslatorMixin (#153)
  README.rst
  hdate/htables.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/translator.py
  hdate/zmanim.py
  tests/test_hdate_api.py
  tests/test_zmanim.py
  utils/translations.py
Due: flake8, pylint, isort, black, mypy, translations

Extract Parasha table
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  utils/translations.py
Due: flake8, pylint, isort, black, mypy, translations

Fix Parasha class name
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
Due: flake8, pylint, isort, black, mypy, translations

Fix typing for unpack readings
  hdate/date.py
Due: flake8, pylint, isort, black, mypy

Have TranslatorMixin classes use a predefined __str__
  hdate/htables.py
  hdate/translator.py
  hdate/zmanim.py
Due: flake8, pylint, isort, black, mypy

Change implementation to support TranslatorMixin
  hdate/date.py
  hdate/htables.py
Due: flake8, pylint, isort, black, mypy

Move Parshiyot to use TranslatorMixin (#155)
  hdate/date.py
  hdate/htables.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  hdate/translator.py
  hdate/zmanim.py
  utils/translations.py
Due: flake8, pylint, isort, black, mypy, translations

Finish moving existing tables and removal of unneeded code
  hdate/date.py
  hdate/htables.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  utils/translations.py
Due: flake8, pylint, isort, black, mypy, translations

Move Days to use TranslatorMixin (#156)
  hdate/date.py
  hdate/htables.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  utils/translations.py
Due: flake8, pylint, isort, black, mypy, translations

modified: hdate/tekufot.py modified: tests/test_tekufot.py
  hdate/tekufot.py
  tests/test_tekufot.py
Due: flake8, pylint, isort, black, mypy

modified: hdate/htables.py modified: hdate/tekufot.py
  hdate/htables.py
  hdate/tekufot.py
Due: flake8, pylint, isort, black, mypy

Extract gematria calculator to separate file
  hdate/date.py
  hdate/gematria.py
  tests/test_hdate_string.py
Due: flake8, pylint, isort, black, mypy

Extract DIGITS table to gematria module
  hdate/gematria.py
  hdate/htables.py
Due: flake8, pylint, isort, black, mypy

Reorganize tests
  tests/test_gematria.py
  tests/test_hdate_string.py
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy

Reorganize code: separate gematria into a separate module (#157)
  hdate/date.py
  hdate/gematria.py
  hdate/htables.py
  tests/test_gematria.py
  tests/test_hdate_string.py
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy
