Repository py-libhdate/py-libhdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pylint, isort, black, mypy, translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    - id : flake8
      name: flake8
      entry: pdm run flake8
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pdm run pylint
      language: system
      types: [python]
    - id: isort
      name: isort
      entry: pdm run isort
      language: system
      types: [python]
    - id: black
      name: black
      entry: pdm run black
      language: system
      types: [python]
    - id: mypy
      name: mypy
      entry: pdm run mypy --ignore-missing-imports --strict
      language: system
      types: [python]
    - id: translations
      name: Generate translations
      entry: pdm run python utils/translations.py generate
      language: system
      types: [json]
      pass_filenames: false

More tests simplification
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

More test fixes
  tests/test_gematria.py
Due: flake8, pylint, isort, black, mypy

Omer test
  tests/test_hdate.py
Due: flake8, pylint, isort, black, mypy

Some more hypothesis tests
  tests/test_hdate.py
Due: flake8, pylint, isort, black, mypy

pass CI environment variable to tox
  tox.ini
Due: none

fix passenv
  tox.ini
Due: none

Add a minute to grace period
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

HebrewDate API: make Months behave more intuitively (#167)
  hdate/date.py
  hdate/hebrew_date.py
  hdate/htables.py
  hdate/omer.py
  hdate/tekufot.py
  hdate/translations.py
  hdate/translations/en.json
  hdate/translations/fr.json
  hdate/translations/he.json
  pdm.lock
  pyproject.toml
  tests/__snapshots__/test_hebrew_date.ambr
  tests/test_converters.py
  tests/test_gematria.py
  tests/test_hdate.py
  tests/test_hebrew_date.py
  tests/test_translator.py
  tests/test_zmanim.py
  tox.ini
Due: flake8, pylint, isort, black, mypy, translations

Change hundreds of tests into 12 tests
  tests/__snapshots__/test_omer.ambr
  tests/test_hdate.py
  tests/test_omer.py
Due: flake8, pylint, isort, black, mypy

Replace bad fixtures with hypothesis
  tests/conftest.py
  tests/test_converters.py
  tests/test_hdate.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Cosmetics: remove test classes when they don't add value
  tests/test_converters.py
  tests/test_tekufot.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Cleanup dependencies correctly
  pdm.lock
  pyproject.toml
Due: none

Use location fixture
  tests/conftest.py
  tests/test_hdate_api.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Make Location a frozen dataclass
  hdate/location.py
Due: flake8, pylint, isort, black, mypy

Limit year diff to 200
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Make location a session fixture
  tests/conftest.py
Due: flake8, pylint, isort, black, mypy

Remove unneeded test and dependency on ZoneInfo in tests
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Cleanup tekufot tests
  tests/test_tekufot.py
Due: flake8, pylint, isort, black, mypy

Increase translator coverage
  hdate/translator.py
  tests/test_translator.py
Due: flake8, pylint, isort, black, mypy

Improve test clarity and performance (#169)
  hdate/location.py
  hdate/translator.py
  pdm.lock
  pyproject.toml
  tests/__snapshots__/test_omer.ambr
  tests/conftest.py
  tests/test_converters.py
  tests/test_hdate.py
  tests/test_hdate_api.py
  tests/test_omer.py
  tests/test_tekufot.py
  tests/test_translator.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Remove heb_date from HDate API
  hdate/date.py
  hdate/zmanim.py
  tests/test_hdate.py
Due: flake8, pylint, isort, black, mypy

Remove heb_date from HDate API (#170)
  hdate/date.py
  hdate/zmanim.py
  tests/test_hdate.py
Due: flake8, pylint, isort, black, mypy

generate coverage for codecov
  tox.ini
Due: none

Update run-tests.yaml
  .github/workflows/run-tests.yaml
Due: none

Upload test results
  .github/workflows/run-tests.yaml
Due: none

Generate junit.xml
  tox.ini
Due: none

Fix pytest command
  tox.ini
Due: none

Add support for uploading to codecov (#171)
  .github/workflows/run-tests.yaml
  tox.ini
Due: none

Add badges to README
  README.rst
Due: none

Make astral a optional dependency
  pdm.lock
  pyproject.toml
Due: none

Create tox test environment and github run for both with astral and without
  .github/workflows/run-tests.yaml
  tox.ini
Due: none

Add some more to .gitignore
  .gitignore
Due: none

Make github show the value nicely
  .github/workflows/run-tests.yaml
Due: none

Don't fail tests in case of not using astral package
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Make astral a real optional dependency (#174)
  .github/workflows/run-tests.yaml
  .gitignore
  pdm.lock
  pyproject.toml
  tests/test_zmanim.py
  tox.ini
Due: flake8, pylint, isort, black, mypy

Stream line Zmanim API using __getattr__
  hdate/tekufot.py
  hdate/zmanim.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Remove utc and local from being datafields of the Zman class since they're calculated anyway
  hdate/zmanim.py
Due: flake8, pylint, isort, black, mypy

Make zmanim() a cached_property reducing calculation time
  hdate/zmanim.py
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Skip February 29 as a option for test_same_doy_is_equal
  tests/test_zmanim.py
Due: flake8, pylint, isort, black, mypy

Use math.radians and update link
  hdate/zmanim.py
Due: flake8, pylint, isort, black, mypy
